{% extends 'base.html' %} 

{% block styles %}
    <link href="http://fonts.cdnfonts.com/css/circular-std" rel="stylesheet">
{% endblock styles %}

{% block mail_title %}Reset your password{% endblock mail_title %}

{% block recipient_name %}{{ name }}{% endblock recipient_name %}

{% block mail_body %}
    Let’s reset your password so you can get back to transacting and doing the things you love.
    <br />
    <br />
    Please click on the link to reset your password.
    <br />
    <br />
    <div style="text-align: center;background-color: #F5F5F5;padding: 20px;border-radius: 10px;">
        <a href="{{ reset_url }}" style="color: orange;text-decoration: none;font-family: 'Circular Std', sans-serif; font-weight: bold;font-size: 14px;font-style: normal;line-height: 150.6%;">{{ reset_url }}</a>
    </div>
    <em style="text-align: center;display: block;color: #808191;">This link will expire in {{ expiration_time }} minutes</em>
{% endblock mail_body %}
