{% extends 'base.html' %} 

{% block mail_title %}Successful subscription {% endblock mail_title %}

{% block recipient_name %}{{ name }}{% endblock recipient_name %}

{% block mail_body %}
    <br />
    You have successfully subscribed to <h3>{{follower.first_name}} {{follower.last_name}}</h3>. You will be receiving email notification, if the post anything new.
    <br />
    <br />
    You can vist our webiste using the link below:
    <br />
    <div style="text-align: center;">
        <b style="font-size: 20px;font-weight: bold;">{{ site_url }}</b>
        <br />
    </div>
{% endblock mail_body %}