<!DOCTYPE html>
<html>
<head>
<title>Prayer Hub</title>
{% block styles %}
{% endblock styles %}
<style>
    @import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
        html { font-family: 'Inter var', sans-serif; }
    }
</style>
</head>
<body style="background-color: #F78DA7;">
#f78da7
<div style="position: relative;margin: 50px auto;max-width: 602px;background-color: #FFFFFF;">
    <div style="padding: 20px 40px;">
    	<h1 style="font-size: 24px;font-weight: bold;font-style: normal;line-height: 29px;">{% block mail_title %}{% endblock mail_title %}</h1>
        {% block arbitrary_content %}{% endblock arbitrary_content %}
        <p style="font-size: 24px;font-weight: normal;font-style: normal;line-height: 29px;">Hi, {% block recipient_name %}{% endblock recipient_name %}</p>
        <p style="font-size: 16px;font-weight: normal;font-style: normal;line-height: 153.6%;color: #FF6900;">
            {% block mail_body %}
            {% endblock mail_body %}
        </p>
        
        <div style="margin-top: 50px;text-align: center;">
        	<div style="display: flex;flex-direction: row;justify-content: center;">
            	<a href="{{ instagram_url }}" style="margin-right: 10px;"><img src="https://firebasestorage.googleapis.com/v0/b/tausi-app.appspot.com/o/ICONS%2Finstagram_icon.png?alt=media&token=e4543c63-cb2c-4649-a47b-ca1d179266cf" alt="instagram" /></a>
                <a href="{{ facebook_url }}" style="margin-right: 10px;"><img src="https://firebasestorage.googleapis.com/v0/b/tausi-app.appspot.com/o/ICONS%2Ffacebook_icon.png?alt=media&token=e9906e33-6123-40ce-ba6f-a7d51e5d319d" alt="facebook" /></a>
                <a href="{{ linkedin_url }}" style="margin-right: 10px;"><img src="https://firebasestorage.googleapis.com/v0/b/tausi-app.appspot.com/o/ICONS%2Flinkedin_icon.png?alt=media&token=3875bd43-b23f-48f2-aec1-b40a0d559213" alt="linkedin" /></a>
                <a href="{{ twitter_url }}"><img src="https://firebasestorage.googleapis.com/v0/b/tausi-app.appspot.com/o/ICONS%2Ftwitter_icon.png?alt=media&token=661f4585-e810-47a0-bdd9-35db30187483" alt="twitter" /></a>
            </div>
            <p style="font-size: 15px;font-weight: normal;font-style: normal;line-height: 22px;color: #ADB6CA;">
                Prayer hub<br />
                TRM<br />
                {% comment %} <br />
                <br />
                Manage email preferences or<br />
				<a href="#" style="color: orange;">unsubscribe</a> {% endcomment %}
            </p>
        </div>
    </div>
    
</div>

</body>
</html>
