{% extends 'base.html' %} 

{% block mail_title %}Welcome Onboard{% endblock mail_title %}

{% block recipient_name %}{{ name }}{% endblock recipient_name %}

{% block mail_body %}
    Thank you for signing up with us.
    <br />
    We believe that finding a home is inherently intuitive and should be fun, engaging, and easy. The real estate industry is antiquated. We are changing that. We want to be the first place you look when you decide to rent,buy or sell a house.     <br />
    <br />
    Click <a href="https://www.youtube.com/watch?v=9ilKHSap08o">here</a> to watch the video.
{% endblock mail_body %}